@* <h1>Contact Us</h1>

<form class="contact-form">
    <input placeholder="Name" />
    <input placeholder="Email" />
    <textarea placeholder="Message"></textarea>
    <button type="submit">Send</button>
</form>
 *@

<section id="contact" class="section section-muted">
    <div class="container contact-center">
        <h2>Contact Us</h2>

        <form class="contact-form">
            <input placeholder="Name" />
            <input placeholder="Email" />
            <textarea rows="4" placeholder="Message"></textarea>
            <button>Send</button>
        </form>
    </div>
</section>

<p>Email: info@ngo.org</p>
<p>Phone: +1 000 000 000</p>