@* <section class="hero">
    <div class="hero-text">
        <h1>Making Real Change, Together</h1>
        <p>
            We empower communities through clean water, education,
            and sustainable development initiatives.
        </p>

        <div class="hero-actions">
            <a href="/projects" class="btn primary">Our Projects</a>
            <a href="/gallery" class="btn primary">Our Gallery</a>
            <a href="/contact" class="btn outline">Get Involved</a>
        </div>
    </div>

    <div class="hero-image">
        <img src="https://universidadeuropea.com/resources/media/images/ngo_800.width-1200.format-webp.webp" alt="Helping communities" />
    </div>
</section> *@
 

<section id="hero" class="hero">
    <div class="container hero-grid">
        <div class="hero-text">
            <h1>Making Real Change, Together</h1>
            <p>
                We empower communities through clean water, education,
                and sustainable development initiatives.
            </p>

            <div class="hero-actions">
                <button class="btn-primary">Our Projects</button>
                <button class="btn-outline">Our Gallery</button>
            </div>
        </div>

        <div class="hero-image">
            <img src="https://uwsopenhearts.org/wp-content/uploads/2023/01/The-Power-of-Support-Why-Every-Human-Needs-it-to-Succeed-scaled-e1674595124985-2048x1325.jpg" />
        </div>
    </div>
</section>