@page "/"
@inject BlazorrShowCase.Components.ViewModels.HomeViewModel Vm


<!-- HERO -->
<section id="hero">
    <HeroSection />
</section>

<!-- PROJECTS -->
<section id="projects" class="section section-muted">
    <Projects />
</section>

<!-- GALLERY -->
<section id="gallery" class="section">
    <Gallery />
</section>

<!-- CONTACT -->
<section id="contact" class="section section-muted">
    <Contact />
</section>